<!doctype html>
{% load static %}
<html>
<head>
    <title>My Portfolio</title>

    <meta charset="utf-8"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{% static '/normalize.css' %}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/foundation-icons/3.0/foundation-icons.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static '/style.css' %}">
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script src="{% static '/script.js' %}"></script>

</head>

<body>

<section id="header">
    <div class="container">
        <div id="home" class="row">
            <div class="col s12 center">
                <ul>
                    <li class="nav-link"><a href="#home">Home</a></li>
                    <li class="nav-link"><a href="#portfolio">Portfolio</a>
                    </li>
                    <li class="nav-link"><a href="#about">About Me</a></li>
                    <li class="nav-link"><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align">
                <img class="responsive-img circle"
                     src="{% static '/img/portrait.png' %}"
                     alt="profile picture of Greg Czaplicki">
                <h5 id="name">Greg Czaplicki</h5>
                <h6 id="job-title">Full-Stack Developer</h6>
                <p id="dash"> ______ </p>
                <ul>
                    <li><a class="fi-social-facebook tooltipped"
                           data-position="top"
                           data-tooltip="Facebook"
                           href="https://www.facebook.com/greg.czaplicki.9"
                           target="_blank">
                    </a></li>
                    <li><a class="fi-social-linkedin tooltipped"
                           data-position="top"
                           data-tooltip="LinkedIn"
                           href="https://www.linkedin.com/in/gczaplicki/"
                           target="_blank">
                    </a></li>
                    <li><a class="fi-social-github tooltipped"
                           data-position="top"
                           data-tooltip="GitHub"
                           href="https://github.com/greg-czaplicki"
                           target="_blank">
                    </a></li>
                    <li><a class="fi-web tooltipped"
                           data-position="top"
                           data-tooltip="Udacity"
                           href="https://profiles.udacity.com/p/9538483359"
                           target="_blank">
                    </a></li>
                </ul>
            </div>
            <div class="col s4"></div>
        </div>

    </div>
</section>

<section id="portfolio">
    <div class="container">

        <div class="row">
            <div class="col s10 offset-s1">
                {% if messages %}
                    <ul class="messages center-align">
                        {% for message in messages %}
                            {% if message.tags == 'success' %}
                                <li class="chip green">
                                    <strong>
                                        SUCCESS!
                                    </strong>
                                    {{ message }}
                                <i class=" close material-icons right white-text">close</i>
                                <i class="material-icons white-text left"
                                    style="padding-top: 4px"
                                 >check_circle</i>
                                </li>
                            {% else %}
                                <li class="chip red">
                                    <strong>
                                        ERROR!
                                    </strong>
                                    {{ message }}
                                <i class=" close material-icons right
                                white-text">close</i>
                                 <i class="material-icons white-text left"
                                    style="padding-top: 4px"
                                 >info_outline</i>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>


        <div class="row center">
            <h1>Projects</h1>
        </div>


        <div class="row center">
            <div class="col l4 s12">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static '/img/grocery.png' %}">
                        <a href="http://grocery.gregczaplicki.com"
                           class="btn-floating halfway-fab
                        waves-effect
                        waves-light red" target="_blank"><i
                                class="material-icons">add</i></a>
                    </div>
                    <span class="card-title">Grocery List App</span>
                    <div class="card-content">
                        <p class="content-p">A Django based app that allows
                                             the user
                                             to add
                                             and
                                             categorize items on their grocery
                                             list. Items can
                                             have weights and/or quantity
                                             associated with them.
                                             Items can be clicked/tapped to
                                             mark as 'completed'.
                                             Basic CRUD operations used to
                                             manage
                                             the database</p>
                    </div>
                </div>
            </div>

            <div class="col l4 s12">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static '/img/brewery.png' %}">
                        <a href="http://greg-czaplicki.github.io/"
                           class="btn-floating halfway-fab
                        waves-effect
                        waves-light red" target="_blank"><i
                                class="material-icons">add</i></a>
                    </div>
                    <span class="card-title">CT Brewery Trail App</span>
                    <div class="card-content">
                        <p class="content-p">A single page application
                                             featuring a list of breweries
                                             inthe state of Connecticut. Built
                                             using Javascript, Knockout.js,
                                             jQuery, HTML/CSS and Yelp API. The
                                             app allows you to filter the
                                             brewery list down as you type. In
                                             return, it displays the marker
                                             on the map with Yelp
                                             information window.</p>
                    </div>
                </div>
            </div>

            <div class="col l4 s12">
                <a href="https://greg-czaplicki.github.io/"><img
                        class="section scrollspy img-portfolio responsive-img"
                        src="{% static '/img/brewery.png' %}"
                        alt=""></a>
            </div>
        </div>
        <div class="row center">
            <div class="col l4 s12">
                <img
                        class="section scrollspy img-portfolio"
                        src="http://www.fillmurray.com/g/300/300"
                        alt="">
            </div>

            <div class="col l4 s12">
                <img
                        class="section scrollspy img-portfolio"
                        src="http://www.fillmurray.com/g/300/300"
                        alt="">
            </div>

            <div class="col l4 s12">
                <img
                        class="section scrollspy img-portfolio"
                        src="http://www.fillmurray.com/g/300/300"
                        alt="">
            </div>
            </di


        </div>
</section>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col s10 offset-s1 box z-depth-5">
                <h1 class="section scrollspy center-align">About Me</h1>
                <p>
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat. Duis aute irure dolor in reprehenderit
                    in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat cupidatat non proident,
                    sunt in culpa qui officia deserunt mollit anim id est
                    laborum."
                </p>
                <p>
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat. Duis aute irure dolor in reprehenderit
                    in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat cupidatat non proident,
                    sunt in culpa qui officia deserunt mollit anim id est
                    laborum."
                </p>
            </div>
        </div>
    </div>
</section>

<section id="contact" style="height: 600px">

    <div class="container">

        <div class="col s10 offset-s1">
            <h1 id="contact" class="section scrollspy
                center-align">Contact Me</h1>
        </div>

        <form method="POST" action="">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col l5 offset-l1 s12">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="icon_prefix"
                           type="text"
                           class="validate"
                           name="{{ form.contact_name.name }}">
                    <label for="icon_prefix" data-error="Name is
                    required">Name</label>
                </div>


                <div class="input-field col l5 s12">
                    <i class="material-icons prefix">email</i>
                    <input id="icon_email"
                           type="email"
                           class="validate"
                           name="{{ form.contact_email.name }}">
                    <label for="icon_email" data-error="Not a
                    valid E-mail">E-mail</label>
                </div>
            </div>


            <div class="row">
                <div class="input-field col l10 offset-l1 s12">
                    <i class="material-icons prefix">message</i>
                    <textarea id="icon_prefix2"
                              class="materialize-textarea"
                              name="{{ form.content.name }}"></textarea>
                    <label for="icon_prefix2">Message</label>
                </div>
            </div>

            <div class="row">
                <div class="col l10 offset-l1 right-align s12">
                    <button class="btn waves-effect waves-light"
                            type="submit"
                            name="action">Send
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col s12 center-align footer">
                <ul>
                    <li><a class="fi-social-facebook tooltipped footer-social"
                           data-position="top"
                           data-tooltip="Facebook"
                           href="https://www.facebook.com/greg.czaplicki.9"
                           target="_blank">
                    </a></li>
                    <li><a class="fi-social-linkedin tooltipped footer-social"
                           data-position="top"
                           data-tooltip="LinkedIn"
                           href="https://www.linkedin.com/in/gczaplicki/"
                           target="_blank">
                    </a></li>
                    <li><a class="fi-social-github tooltipped footer-social"
                           data-position="top"
                           data-tooltip="GitHub"
                           href="https://github.com/greg-czaplicki"
                           target="_blank">
                    </a></li>
                    <li><a class="fi-web tooltipped footer-social"
                           data-position="top"
                           data-tooltip="Udacity"
                           href="https://profiles.udacity.com/p/9538483359"
                           target="_blank">
                    </a></li>
                </ul>
            </div>
        </div>

    </div>
</section>

<section id="footer">
    <div class="row">
        <div class="col s12 center-align bt-footer">
            <span id="copyright">© 2017 Greg Czaplicki</span>
        </div>
    </div>
</section>


<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>

</body>
</html>
